export(gtkDfEdit)
export(gtkDfEditGetModel)
export(gtkDfEditGetDimension)
export(gtkDfEditGetColumnNames)
export(gtkDfEditSetColumnName)
export(gtkDfEditGetRowNames)
export(gtkDfEditGetDataFrame)
export(gtkDfEditSetColumnClickHandler)
export(gtkDfEditGetSelection)
export(dfedit)
S3method("[", GtkDfEdit)
